<% include ./include/dash_header %>


    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px; color: green;">농작물<i class="mdi mdi-leaf"></i></h4>
                <p class="card-description" style = "margin: 0.8rem 0 0 0">
                    등록한 농작물의 상태를 확인해주세요.
                </p>
                <div class="form-group row" style = "margin: 30px 0 0 0;">
                    <div class="card col" style="margin: 0 50px 0 0;">
                        <div class="card-body">
                          <h3 class="card-title">농작물 종류</h3>
                          <ul class="list-star" style="font-size: 20px;">
                            <li>고추</li>
                          </ul>
                        </div>
                    </div>
                    <div class="card col" >
                        <div class="card-body">
                          <h3 class="card-title">농작물 이름</h3>
                          <ul class="list-star" style="font-size: 20px;">
                            <li>햇고추</li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="card" style = "margin: 30px 0 0 0;">
                    <div class="card-body">
                      <h4 class="card-title">기본 사항</h4>
                      <div class="row" style="margin: 50px 0 0 0;">
                        <div class="col">
                            <p class="card-description">
                                농작물 재배 유형
                            </p>
                             <ul class="list-ticked">
                               <li>고랭지</li>
                             </ul>
                          </div>
                          <div class="col">
                            <p class="card-description">
                                농작물 위치
                            </p>
                             <ul class="list-ticked">
                               <li>충청남도 아산시 배방읍</li>
                             </ul>
                          </div>
                          <div class="col">
                            <p class="card-description">
                                비료
                            </p>
                             <ul class="list-ticked">
                               <li>한국산 비료</li>
                             </ul>
                          </div>
                      </div>
                      <hr class="my-4">
                      <div class="row" style="margin: 50px 0 0 0;">
                        <div class="col">
                            <p class="card-description">
                                파종시기
                            </p>
                             <ul class="list-ticked">
                               <li>2021-08-31</li>
                             </ul>
                          </div>
                          <div class="col">
                            <p class="card-description">
                                재배예정시기
                            </p>
                             <ul class="list-ticked">
                               <li>2021-09-31</li>
                             </ul>
                          </div>
                          <div class="col">
                            <p class="card-description">
                                예상 수확량
                            </p>
                             <ul class="list-ticked">
                               <li>2500</li>
                             </ul>
                          </div>
                          <div class="col">
                            <p class="card-description">
                                현재 수확량
                            </p>
                             <ul class="list-ticked">
                               <li>2100</li>
                             </ul>
                          </div>
                      </div>
                    </div>
                </div>
                <div class="card" style = "margin: 30px 0 0 0;">
                    <div class="card-body">
                      <h4 class="card-title">Memo</h4>
                      <hr class="my-4">
                      <P>규환이 바보!</P>
                    </div>
                </div>
                    <button type="button" class="btn btn-success btn-icon-text"style="float: right; margin: 25px 0 0 0;">
                        <i class="mdi mdi-checkbox-marked-circle-outline"></i>                                                    
                        &nbsp; 확인
                    </button>
                        </div>                
                    </div>
                </div>
            </div>
        </div>

<% include ./include/dash_footer %>