<% include ./include/dash_header %>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card" style = "margin: 50px 0 80px 0">
            <div class="card-body">
              <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px;color: green;">공지사항&nbsp;<i class="mdi mdi-clipboard-text"></i></h4>
              <p class="card-description" style = "margin: 0.8rem 0 0 0">
                탐지앗의 공지사항을 확인해주세요.
              </p>
              <div class="table-responsive" style = "margin: 25px 0 20px 0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th class="col-md-1 text-primary"></th>
                      <th class="col-md-3"></th>
                      <th class="col-md-1"></th>
                      <th class="col-md-1"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-primary">[ 공지 ]</td>
                      <td>탐지앗이 새롭게 출시 했습니다!!</td>
                      <td>운영자</td>
                      <td>2021-08-31</td>
                    </tr>
                    <tr>
                        <td>[ 공지 ]</td>
                        <td>탐지앗이 새롭게 출시 했습니다!!</td>
                        <td>운영자</td>
                        <td>2021-08-31</td>
                    </tr>
                    <tr>
                        <td>[ 공지 ]</td>
                        <td>탐지앗이 새롭게 출시 했습니다!!</td>
                        <td>운영자</td>
                        <td>2021-08-31</td>
                    </tr>
                    <tr>
                        <td>[ 공지 ]</td>
                        <td>탐지앗이 새롭게 출시 했습니다!!</td>
                        <td>운영자</td>
                        <td>2021-08-31</td>
                    </tr>
                    <tr>
                        <td>[ 공지 ]</td>
                        <td>탐지앗이 새롭게 출시 했습니다!!</td>
                        <td>운영자</td>
                        <td>2021-08-31</td>
                    </tr>
                  </tbody>
                </table>
                <nav aria-label="Page navigation example" style="margin:30px 0 30px 0">
                    <ul class="pagination justify-content-center">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link" href="#">3</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                  <button type="button" class="btn btn-success btn-icon-text"style="float: right;">
                    <i class="mdi mdi-library-plus"></i>                                                    
                    &nbsp; 게시글 등록하기
                </button>

              </div>
            </div>
          </div>
        </div>
      </div>
<% include ./include/dash_footer %>