
<% include ./include/header %>


<!-- ======= Features Section ======= -->
<section id="features" class="features">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>문의하기</h2>
      <p>탐지앗에 대해 문의할 내용을 아래 양식에 적어주세요.</p>
    </div>

    
    <form id="contact-form">
      <div class="row">
        <div class="form-group col" >
          <label for="exampleFormControlInput1">성함</label>
          <input type="text" class="form-control" name="name" id="question_name" placeholder="ex) 홍길동">
        </div>
        <div class="form-group col" >
          <label for="exampleFormControlInput2">이메일 주소</label>
          <input type="email" class="form-control" name="email" id="question_email" placeholder="ex) name@example.com">
        </div>
        <div class="form-group col" >
          <label for="exampleFormControlInput3">전화 번호</label>
          <input type="phone" class="form-control" name="phone" id="question_name" placeholder="ex) 010-1234-1234">
        </div>
      
      </div>
      <div class="form-group" style="margin-top: 30px;">
        <label for="exampleFormControlInput1">제목</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="ex) 제목">
      </div>
      
      <div class="form-group" style="margin-top: 30px;">
        <label for="exampleFormControlTextarea1">문의 내용</label>
        <textarea class="form-control" id="question_contents" name="message" rows="10"  placeholder="ex) 문의 내용"></textarea>
      </div>
      <button type="submit" value="Send" class="btn btn-outline-success" style="float: right; margin-top: 30px;">전송 하기</button>
    </form>

  </div>
  <div class="modal fade" id="question" role="dialog" aria-labelledby="questionHeader" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">에이스텍</h4>
            </div>
            <div class="modal-body">                        
                <p>관리자에게 이메일이 전송 되었습니다!</p>
                <p>확인 이후 해당 이메일로 답장 드리겠습니다.</p>                    
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
            </div>
        </div>
    </div>
</div>
</section><!-- End Features Section -->


<% include include/footer %>