<% include ./include/dash_header %>
<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
          <div class="card" style = "margin: 50px 0 80px 0">
            <div class="card-body">
              <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px;color: green;">공지사항&nbsp;<i class="mdi mdi-clipboard-text"></i></h4>
              <p class="card-description" style = "margin: 0.8rem 0 0 0">
                탐지앗의 공지사항을 등록해주세요.
              </p>

                <div class="form-group">
                    <input type="text" class="form-control" id="Croplocation" placeholder="제목" style="height: 50px; margin: 30px 0 0 0">
                </div>

                <textarea id="summernote" name="summernote"></textarea>

                <script>
                    $('#summernote').summernote({
                        placeholder: '공지 할 내용을 적어주세요.',
                        tabsize: 2,
                        height: 450,
                        toolbar: [
                        ['style', ['style']],
                        ['font', ['bold', 'underline', 'clear']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['table', ['table']],
                        ['insert', ['link', 'picture', 'video']],
                        ['view', ['fullscreen', 'codeview', 'help']]
                        ]
                    });
                </script>
            </div>
            <div style="float: right; margin: 10px 0 25px 0">
                <button type="button" class="btn btn-success btn-icon-text"style="float: right; margin: 0 20px 0 15px;">
                  <i class="mdi mdi-hospital"></i>                                                    
                  &nbsp; 등록하기
                </button>
                <button type="button" class="btn btn-danger btn-icon-text"style="float: right; margin: 0 0 0 15px">
                  <i class="mdi mdi-minus"></i>                                                    
                  &nbsp; 취소하기
                </button>
                <button type="button" class="btn btn-success btn-icon-text"style="float: right; margin: 0 20px 0 15px;">
                  <i class="mdi mdi-hospital"></i>                                                    
                  &nbsp; 등록하기
                </button>
                <button type="button" class="btn btn-danger btn-icon-text"style="float: right; margin: 0 0 0 15px">
                  <i class="mdi mdi-minus"></i>                                                    
                  &nbsp; 취소하기
                </button>
              </div>
          </div>
        </div>
      </div>
<% include ./include/dash_footer %>