        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
          <footer class="footer" >
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium Bootstrap admin template from BootstrapDash.</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script src="/../../dash_assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/../../dash_assets/vendors/chart.js/Chart.min.js"></script>
    <script src="/../../dash_assets/vendors/select2/select2.min.js"></script>
    <script src="/../../dash_assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="/../../dash_assets/vendors/progressbar.js/progressbar.min.js"></script>
  
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/../../dash_assets/js/off-canvas.js"></script>
    <script src="/../../dash_assets/js/hoverable-collapse.js"></script>
    <script src="/../../dash_assets/js/template.js"></script>
    <script src="/../../dash_assets/js/settings.js"></script>
    <script src="/../../dash_assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="/../../dash_assets/js/dashboard.js"></script>
    <script src="/../../dash_assets/js/Chart.roundedBarCharts.js"></script>
    <script src="/../../dash_assets/js/file-upload.js"></script>
    <script src="/../../dash_assets/js/typeahead.js"></script>
    <script src="/../../dash_assets/js/select2.js"></script>
    <!-- End custom js for this page-->

    
    <script>
      $(function(){
        $("#datepicker").datepicker(); // yyyy-mm-dd 형식으로 date타입 포멧
        $("#datepicker2").datepicker(); // yyyy-mm-dd 형식으로 date타입 포멧
     
      });

      //일별 농작물 성장률 및 병해충 발생률
      if ($("#performaneLine").length) {
      var graphGradient = document.getElementById("performaneLine").getContext('2d');
      var graphGradient2 = document.getElementById("performaneLine").getContext('2d');
      var saleGradientBg = graphGradient.createLinearGradient(5, 0, 5, 100);
      saleGradientBg.addColorStop(0, 'rgba(26, 115, 232, 0.18)');
      saleGradientBg.addColorStop(1, 'rgba(26, 115, 232, 0.02)');
      var saleGradientBg2 = graphGradient2.createLinearGradient(100, 0, 50, 150);
      saleGradientBg2.addColorStop(0, 'rgba(0, 208, 255, 0.19)');
      saleGradientBg2.addColorStop(1, 'rgba(0, 208, 255, 0.03)');
      var salesTopData = {
          labels: ["일","일", "월", "월", "화","화", "수", "수", "목", "목", "금", "금", "토"],
          datasets: [{
              label: '병해충 발생률',
              data: [50, 110, 60, 290, 200, 115, 130, 170, 90, 210, 240, 280, 200],
              backgroundColor: saleGradientBg,
              borderColor: [
                  '#1F3BB3',
              ],
              borderWidth: 1.5,
              fill: true, // 3: no fill
              pointBorderWidth: 1,
              pointRadius: [4, 4, 4, 4, 4,4, 4, 4, 4, 4,4, 4, 4],
              pointHoverRadius: [2, 2, 2, 2, 2,2, 2, 2, 2, 2,2, 2, 2],
              pointBackgroundColor: ['#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)', '#1F3BB3', '#1F3BB3', '#1F3BB3','#1F3BB3)'],
              pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
          },{
            label: '농작물 성장 진행률',
            data: [30, 150, 190, 250, 120, 150, 130, 20, 30, 15, 40, 95, 180],
            backgroundColor: saleGradientBg2,
            borderColor: [
                '#52CDFF',
            ],
            borderWidth: 1.5,
            fill: true, // 3: no fill
            pointBorderWidth: 1,
            pointRadius: [0, 0, 0, 4, 0],
            pointHoverRadius: [0, 0, 0, 2, 0],
            pointBackgroundColor: ['#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)', '#52CDFF', '#52CDFF', '#52CDFF','#52CDFF)'],
              pointBorderColor: ['#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff','#fff',],
        }]
      };
  
      var salesTopOptions = {
        responsive: true,
        maintainAspectRatio: false,
          scales: {
              yAxes: [{
                  gridLines: {
                      display: true,
                      drawBorder: false,
                      color:"#F0F0F0",
                      zeroLineColor: '#F0F0F0',
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 4,
                    fontSize: 10,
                    color:"#6B778C"
                  }
              }],
              xAxes: [{
                gridLines: {
                    display: false,
                    drawBorder: false,
                },
                ticks: {
                  beginAtZero: false,
                  autoSkip: true,
                  maxTicksLimit: 7,
                  fontSize: 10,
                  color:"#6B778C"
                }
            }],
          },
          legend:false,
          legendCallback: function (chart) {
            var text = [];
            text.push('<div class="chartjs-legend"><ul>');
            for (var i = 0; i < chart.data.datasets.length; i++) {
              console.log(chart.data.datasets[i]); // see what's inside the obj.
              text.push('<li>');
              text.push('<span style="background-color:' + chart.data.datasets[i].borderColor + '">' + '</span>');
              text.push(chart.data.datasets[i].label);
              text.push('</li>');
            }
            text.push('</ul></div>');
            return text.join("");
          },
          
          elements: {
              line: {
                  tension: 0.4,
              }
          },
          tooltips: {
              backgroundColor: 'rgba(31, 59, 179, 1)',
          }
      }
      var salesTop = new Chart(graphGradient, {
          type: 'line',
          data: salesTopData,
          options: salesTopOptions
      });
      document.getElementById('performance-line-legend').innerHTML = salesTop.generateLegend();
    }

      //재배 종목별 그래프
      if ($("#doughnutChart").length) {
          var doughnutChartCanvas = $("#doughnutChart").get(0).getContext("2d");
          var doughnutPieData = {
            datasets: [{
              data: [40, 20, 30, 10],
              backgroundColor: [
                "#1F3BB3",
                "#FDD0C7",
                "#52CDFF",
                "#81DADA"
              ],
              borderColor: [
                "#1F3BB3",
                "#FDD0C7",
                "#52CDFF",
                "#81DADA"
              ],
            }],
      
            // These labels appear in the legend and in the tooltips when hovering different arcs
            labels: 
            [
              '<%= DonutData[0].crops%>',
              '박우식',
              '김득회',
              '김민수',
            ]
          };
          var doughnutPieOptions = {
            cutoutPercentage: 50,
            animationEasing: "easeOutBounce",
            animateRotate: true,
            animateScale: false,
            responsive: true,
            maintainAspectRatio: true,
            showScale: true,
            legend: false,
            legendCallback: function (chart) {
              var text = [];
              text.push('<div class="chartjs-legend"><ul class="justify-content-center">');
              for (var i = 0; i < chart.data.datasets[0].data.length; i++) {
                text.push('<li><span style="background-color:' + chart.data.datasets[0].backgroundColor[i] + '">');
                text.push('</span>');
                if (chart.data.labels[i]) {
                  text.push(chart.data.labels[i]);
                }
                text.push('</li>');
              }
              text.push('</div></ul>');
              return text.join("");
            },
            
            layout: {
              padding: {
                left: 0,
                right: 0,
                top: 0,
                bottom: 0
              }
            },
            tooltips: {
              callbacks: {
                title: function(tooltipItem, data) {
                  return data['labels'][tooltipItem[0]['index']];
                },
                label: function(tooltipItem, data) {
                  return data['datasets'][0]['data'][tooltipItem['index']];
                }
              },
                
              backgroundColor: '#fff',
              titleFontSize: 14,
              titleFontColor: '#0B0F32',
              bodyFontColor: '#737F8B',
              bodyFontSize: 11,
              displayColors: false
            }
          };
          var doughnutChart = new Chart(doughnutChartCanvas, {
            type: 'doughnut',
            data: doughnutPieData,
            options: doughnutPieOptions
          });
          document.getElementById('doughnut-chart-legend').innerHTML = doughnutChart.generateLegend();
        }

        //피해 농작물 발생 현황 그래프
        if ($("#leaveReport").length) {
        var leaveReportChart = document.getElementById("leaveReport").getContext('2d');
        var leaveReportData = {
            labels: ["월","화", "수", "목", "금", "토", "일"],
            datasets: [{
                label: 'Last week',
                data: [18, 25, 39, 11, 24, 32, 5],
                backgroundColor: "#52CDFF",
                borderColor: [
                    '#52CDFF',
                ],
                borderWidth: 0,
                fill: true, // 3: no fill
                
            }]
        };
    
        var leaveReportOptions = {
          responsive: true,
          maintainAspectRatio: false,
            scales: {
                yAxes: [{
                    gridLines: {
                        display: true,
                        drawBorder: false,
                        color:"rgba(255,255,255,.05)",
                        zeroLineColor: "rgba(255,255,255,.05)",
                    },
                    ticks: {
                      beginAtZero: true,
                      autoSkip: true,
                      maxTicksLimit: 5,
                      fontSize: 10,
                      color:"#6B778C"
                    }
                }],
                xAxes: [{
                  barPercentage: 0.5,
                  gridLines: {
                      display: false,
                      drawBorder: false,
                  },
                  ticks: {
                    beginAtZero: false,
                    autoSkip: true,
                    maxTicksLimit: 7,
                    fontSize: 10,
                    color:"#6B778C"
                  }
              }],
            },
            legend:false,
            
            elements: {
                line: {
                    tension: 0.4,
                }
            },
            tooltips: {
                backgroundColor: 'rgba(31, 59, 179, 1)',
            }
        }
        var leaveReport = new Chart(leaveReportChart, {
            type: 'bar',
            data: leaveReportData,
            options: leaveReportOptions
        });
      }
      
    </script>
  </body>
  
  </html>