<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>(주) 탐지앗</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/../../assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/../../company_assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/../../company_assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/../../company_assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/../../company_assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/../../company_assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/../../company_assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="headerc" class="fixed-top ">
    <div class="container d-flex align-items-center justify-content-between">
      <p class="logo"><a href="/"><img src="/../../assets/img/logo.jpg"alt=""></a></p>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" style="margin-right: 25px;" href="/company">회사소개</a></li>
          <li><a class="nav-link scrollto" style="margin-right: 25px;" href="/business">사업소개</a></li>
          <li><a class="nav-link scrollto " style="margin-right: 350px;" href="/question">문의하기</a></li>
          <% if (username != undefined) { %>
          <li><a class="nav-link scrollto"><%= username %> 님</a></li>
          <li><a class="nav-link scrollto" href="/auth/logout">로그아웃</a></li>
          <li><a class="getstarted scrollto" href="/dash">시작하기</a></li>
          <% } else { %>
          <li><a class="nav-link scrollto" href="/auth/kakao"style="margin-right: 25px;" style="margin-right: 150px;">로그인</a></li>
          <% } %>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
