<% include ../include/dash_header %>

    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card" style = "margin: 50px 0 80px 0">
                  <div class="card-body">
                    <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px;color: orange;">농작물 재배&nbsp;<i class="mdi mdi-weather-sunny"></i></h4>
                    <p class="card-description" style = "margin: 0.8rem 0 0 0">
                      수확 시기를 확인하여 진행률 100%인 농작물을 재배 해주세요!
                    </p>
                    <div class="table-responsive" style = "margin: 25px 0 20px 0">
                        <table class="table table-bordered" style="text-align: center;">
                            <thead>
                              <tr>
                                <th class="col-md-1">
                                    번호
                                </th>
                                <th class="col-md-2">
                                    농작물
                                </th>
                                <th>
                                    진행률
                                </th>
                                <th class="col-md-2">
                                    농사 시작일
                                </th>
                                <th class="col-md-2">
                                    재배 예정일
                                </th>
                                <th class="col-md-1">
                                    수확
                                </th>
                                <th class="col-md-1">
                                    취소
                              </th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                    1
                                </td>
                                <td>
                                    벼
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.08.21
                                </td>
                                <td> 
                                    2021.09.21
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  2
                                </td>
                                <td>
                                  강남콩
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.08.22
                                </td>
                                <td>
                                    2021.09.22
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  3
                                </td>
                                <td>
                                  양배추
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.08.24
                                </td>
                                <td>
                                    2021.09.24
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    4
                                </td>
                                <td>
                                    감자
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.08.27
                                </td>
                                <td>
                                    2021.09.27
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  5
                                </td>
                                <td>
                                  딸기
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.08.30
                                </td>
                                <td>
                                    2021.09.30
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  6
                                </td>
                                <td>
                                    고구마
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.09.01
                                </td>
                                <td>
                                    2021.10.01
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  7
                                </td>
                                <td>
                                    녹두
                                </td>
                                <td>
                                  <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                  </div>
                                </td>
                                <td>
                                    2021.09.05
                                </td>
                                <td>
                                    2021.10.05
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-warning btn-icon-text">
                                        <i class="ti-reload btn-icon-prepend"></i>                                                    
                                        수확 완료
                                    </button>
                                </td>
                                <td>
                                  <button type="button" class="btn btn-danger btn-icon-text">                                             
                                    취소하기
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                  </div>
                </div>
              </div>
        </div>

<% include ../include/dash_footer %>