<% include ../include/dash_header %>
<style>
  .map_wrap {position:relative;width:100%;height:350px;}
  .title {font-weight:bold;display:block;}
  .hAddr {position:absolute;left:10px;top:10px;border-radius: 2px;background:#fff;background:rgba(255,255,255,0.8);z-index:1;padding:5px;}
  #centerAddr {display:block;margin-top:2px;font-weight: normal;}
  .bAddr {padding:5px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
</style>
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-12 grid-margin stretch-card">
            <div class="card" style="height: 800px;">
              <div class="card-body">
                <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px; color: green;">내 농작물 위치 <i class="mdi mdi-map-marker"></i></h4>
                <p class="card-description" style = "margin: 0.8rem 0 0 0">
                  나의 농작물을 지도로 확인해보세요 !
                </p>
                <div class="map_wrap" >
                    <div id="map" style="width:100%;height:630px;position:relative;overflow:hidden;margin-top:25px;"></div>
                    <div class="hAddr">
                        <span class="title">지도중심기준 행정동 주소정보</span>
                        <span id="centerAddr"></span>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=20a7b309a310827233d1145c6526b7cf&libraries=services,clusterer,drawing"></script>
        <script>
          /*
          * lat lng를 등록할 때 같이 보내야함*/
          var send_lat = 0;
          var send_lng = 0;

          $(document).ready(function (){
            console.log("로딩다됨")
            if (navigator.geolocation) {
              navigator.geolocation.getCurrentPosition(
                      function (location) {
                        //succ - 유저가 허용버튼을 클릭하여 값을 가져올 수 있는 상태
                        var lat = location.coords.latitude;
                        var lon = location.coords.longitude;

                        console.log("lat" + lat);
                        console.log("lot" + lon);

                        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
                        var options = { //지도를 생성할 때 필요한 기본 옵션
                          center: new kakao.maps.LatLng(lat, lon), //지도의 중심좌표.
                          level: 1 //지도의 레벨(확대, 축소 정도)
                        };

                        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

                        var geocoder = new kakao.maps.services.Geocoder(); // 주소-좌표 변환 객체 생성성

                        var marker = new kakao.maps.Marker(),
                                infowindow = new kakao.maps.InfoWindow({zindex:1});

                        searchAddrFromCoords(map.getCenter(), displayCenterInfo);

                        kakao.maps.event.addListener(map, 'click', function (mouseEvent){
                          searchDetailAddrFromCoords(mouseEvent.latLng, function (result, status){
                            if (status === kakao.maps.services.Status.OK) {
                              var detailAddr = !!result[0].road_address ? '<div>도로명주소 : ' + result[0].road_address.address_name + '</div>' : '';
                              detailAddr += '<div>지번 주소 : ' + result[0].address.address_name + '</div>';

                              var content = '<div class="bAddr">' +
                                      '<span class="title">법정동 주소정보</span>' +
                                      detailAddr +
                                      '</div>';

                              // 마커를 클릭한 위치에 표시합니다
                              marker.setPosition(mouseEvent.latLng);
                              send_lat = mouseEvent.latLng.getLat()
                              send_lng = mouseEvent.latLng.getLng()
                              console.log("클릭한 위치" + send_lat);
                              console.log("클릭한 위치" + send_lng);
                              $("#send_lat").val(send_lat);
                              $("#send_lng").val(send_lng);

                              marker.setMap(map);

                              // 인포윈도우에 클릭한 위치에 대한 법정동 상세 주소정보를 표시합니다
                              infowindow.setContent(content);
                              infowindow.open(map, marker);
                            }
                          })
                        });

                        // 중심 좌표나 확대 수준이 변경됐을 때 지도 중심 좌표에 대한 주소 정보를 표시하도록 이벤트를 등록합니다
                        kakao.maps.event.addListener(map, 'idle', function() {
                          searchAddrFromCoords(map.getCenter(), displayCenterInfo);
                        });

                        function searchAddrFromCoords(coords, callback) {
                          // 좌표로 행정동 주소 정보를 요청합니다
                          geocoder.coord2RegionCode(coords.getLng(), coords.getLat(), callback);
                        }

                        function searchDetailAddrFromCoords(coords, callback) {
                          // 좌표로 법정동 상세 주소 정보를 요청합니다
                          geocoder.coord2Address(coords.getLng(), coords.getLat(), callback);
                        }

                        // 지도 좌측상단에 지도 중심좌표에 대한 주소정보를 표출하는 함수입니다
                        function displayCenterInfo(result, status) {
                          if (status === kakao.maps.services.Status.OK) {
                            var infoDiv = document.getElementById('centerAddr');

                            for(var i = 0; i < result.length; i++) {
                              // 행정동의 region_type 값은 'H' 이므로
                              if (result[i].region_type === 'H') {
                                infoDiv.innerHTML = result[i].address_name;
                                break;
                              }
                            }
                          }
                        }
                      },
                      function (error) {
                        //fail - 유저가 차단버튼을 클릭하여 값을 가져올 수 없는 상태
                      }
              );
            } else {
              //fail - 애초에 GPS 정보를 사용할 수 없는 상태
            }
          })

        </script>


<% include ../include/dash_footer %>