<% include ../include/dash_header %>

    <!-- partial -->
    <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card" style = "margin: 50px 0 80px 0">
                  <div class="card-body">
                      <h4 class="card-title" style = "margin: 30px 0 0 0; font-size: 30px; color: rgb(145, 72, 72);">토론방
                        &nbsp;<i class="mdi mdi mdi-bug"></i></h4>
                    <p class="card-description" style = "margin: 0.8rem 0 0 0">
                      현재 발생하고 있는 병해충를 확인해보세요.
                    </p>
                  </div>
                  
                </div>
            </div>
          </div>
<% include ../include/dash_footer %>